/* ---------------------------------------------------------------------- */
/* LIGHT YELLOW
/* 
/* 
/* Accent color: #FFCC00 ;
/* Borders color, Submenu background: #D8D5CD ;
/* Page background: #FFFFFF;
/* Content Boxes background: #3F3F3F;
/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* COLORS 
/* ---------------------------------------------------------------------- */

#page {
	background-color:#FFFFFF; 
}

a:hover, a > *:hover,
.categories a:hover,
#footer .widget-container li a:hover   {
    color: #FFCC00;
} 

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color:#FFCC00;
}



#logo {
	
}

#pre-header,
.flex-direction-nav li a:hover {
	background-color:#FFCC00;
}

.colored,
.flex-caption h3, 
.intro-page h2 strong, 
#footer h4,
#copyrights a  {
	color:#FFCC00;
}

#pre-header,
#slider_container {
	border-bottom: 1pt solid #D8D5CD;
}
.intro-page,
.horizontal-line,
.divider { 
	border-top: 1pt solid #D8D5CD;
}


ul#social-links li {
   background: #EEBE00;
   background: -moz-linear-gradient(top, #EEBE00 0%, #D1A700 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEBE00), color-stop(100%,#D1A700));
   background: -webkit-linear-gradient(top, #EEBE00 0%,#D1A700 100%);
   background: -o-linear-gradient(top, #EEBE00 0%,#D1A700 100%);
   background: -ms-linear-gradient(top, #EEBE00 0%,#D1A700 100%);
   background: linear-gradient(top, #EEBE00 0%,#D1A700 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEBE00', endColorstr='#D1A700',GradientType=0 );
   box-shadow: 0px 1px 1px #FFD52C,inset 0px 2px 5px #D1A700;
   -moz-box-shadow: 0px 1px 1px #FFD52C,inset 0px 2px 5px #D1A700;
   -webkit-box-shadow: 0px 1px 1px #FFD52C,inset 0px 2px 5px #D1A700;
 }

#main-navigation ul li a:hover,
#main-navigation ul li.current-menu-item > a,
#main-navigation ul li.current-menu-ancestor > a {
    background:#F8F8F8;
    border-bottom: 1pt solid #FFCC00;
    color: #FFCC00;
}


#main-navigation ul li a:hover {
     color: #FFCC00;
     background: #F8F8F8;
     border-bottom: 1pt solid #FFCC00;
}

#main-navigation ul ul a:hover,
#main-navigation ul ul .hover > a,
#main-navigation ul ul .current > a,
#main-navigation ul ul .current > a:hover {
     background-color: #FFCC00;
     color: #fff;
     border: 0;
}


#main-navigation ul ul a:hover, #main-navigation ul ul .hover > a, #main-navigation ul ul .current-menu-item > a, #main-navigation ul ul .current-menu-item > a:hover {
    background-color:#FFCC00;
}

img.intro-img {
	border-bottom: 1pt solid #D8D5CD;
}

.jcarousel-next, .jcarousel-prev {
    background-color: #FFCC00;
}
.jcarousel-prev {
    background-color: #FFCC00;
}
.jcarousel-next:hover, .jcarousel-next:focus, .jcarousel-next:active, .jcarousel-prev:hover, .jcarousel-prev:focus, .jcarousel-prev:active {
    background-color: #FFCC00;
}
.jcarousel-next-disabled, .jcarousel-next-disabled:hover, .jcarousel-next-disabled:focus, .jcarousel-next-disabled:active, .jcarousel-prev-disabled, .jcarousel-prev-disabled:hover, .jcarousel-prev-disabled:focus, .jcarousel-prev-disabled:active {
    background-color: #D8D5CD;
}
ul#projects-carousel li .item-content:hover,
ul#portfolio-items-one-fourth li .item-content:hover {
    background-color: #FFCC00;
}
.sidebarBox li:first-child {
    border-top: 1px dotted #D8D5CD;
}
.sidebarBox li {
    border-bottom: 1px dotted #D8D5CD;
}

.archive .hentry, .page-template-template-blog-php .hentry, .search .hentry {
    border-bottom: 1px solid #D8D5CD;
}
.post-date {
	background: #FFCC00;
}

#pagination span, #pagination a {

}
#pagination .current {

}


#s {

}

#s:focus {

}

.filterable li.active a {
	background-color: #FFCC00;
}


.comment-text {

}

#commentform input[type="text"], 
#commentform input[type="password"], 
#commentform input[type="email"], 
#commentform input.text, 
#commentform input.title, 
#commentform textarea, 
#commentform select,
#commentform textarea, 
#contactForm input[type="text"],
#contactForm input[type="password"],
#contactForm input[type="email"],
#contactForm textarea,
#contactForm select {
   border: 1px solid #DDDDDD;
   box-shadow: inset 0px 2px 4px #F3F3F3;
   -moz-box-shadow: inset 0px 2px 4px #F3F3F3;
   -webkit-box-shadow: inset 0px 2px 4px #F3F3F3;
   background: #FFFFFF;
   color:#777777;
  
}
#commentform input[type="text"]:focus, 
#commentform input[type="password"]:focus, 
#commentform input[type="email"]:focus, 
#commentform input.text:focus, 
#commentform input.title:focus, 
#commentform textarea:focus, 
#commentform select:focus,
#contactForm input[type="text"]:focus,
#contactForm input[type="password"]:focus,
#contactForm  input[type="email"]:focus,
#contactForm  textarea:focus {
   border: 1px solid #BBBBBB;
   box-shadow: 0px 0px 5px #CCCCCC,inset 0px 2px 4px #F3F3F3;
   -moz-box-shadow: 0px 0px 5px #CCCCCC,inset 0px 2px 4px #F3F3F3;
   -webkit-box-shadow: 0px 0px 5px #CCCCCC,inset 0px 2px 4px #F3F3F3;
}


}


pre, code {

}
.hentry blockquote {

}

#tabscontainer {
	clear: both;
}


.help {
    
}
/* ---------------------------------------------------------------------- */
/* Images
/* ---------------------------------------------------------------------- */


.flex-control-nav li a {
	background-image: url("images/bg_control_nav.png");
}

.portfolio-item-hover-content a.zoom  {
	background-image: url("images/zoom-plus.png");
}

.post-year {
    background-image: url("images/post-meta-divider.png");
}

.readmore a:hover {
    background-image: url("images/blog-permalink.png");
}

.widget_site5framework_contact_widget span.address {
    background-image: url("images/icons/adress.png");
}
.widget_site5framework_contact_widget span.phone {
    background-image: url("images/icons/phone-number.png");
}
.widget_site5framework_contact_widget span.email {
    background-image: url("images/icons/mail-adress.png");
}






