{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}
{% if author %}
<div class="author clearfix">
  <div class="author-gravatar">
    <img alt="" src="{{ root_url }}/images/avatar.jpg" class="avatar avatar-64 photo" height="64" width="64">
  </div>
  <div class="author-about">
  <h4><a href="https://github.com/Glowin">{{ author }}</a></h4>
  <p class="author-description"></p>
  </div>
</div>
{% endif %}