
<div id="pre-header">
  <!-- begin #socialIcons -->
  <div id="social-icons">
    <ul id="social-links">
      {% if site.github_user %}<li class="github-link"><a href="https://github.com/{{ site.github_user }}" id="social-01" title="GitHub" class="github">Github</a></li>{% endif %}
      <li class="weibo-link"><a href="http://weibo.com/jiangbian66" id="social-07" title="Weibo" class="weibo">Weibo</a></li>
      {% if site.twitter_user %}<li class="twitter-link"><a href="https://twitter.com/{{ site.twitter_user }}" class="twitter" id="social-02" title="Follow me on Twitter">Twitter</a></li>{% endif %}
      {% if site.googleplus_user %}<li class="google-link"><a href="https://plus.google.com/{{ site.googleplus_user }}" id="social-03" title="Google+" class="google">Google</a></li>{% endif %}
      <li class="dribbble-link"><a href="http://dribbble.com/glowin" id="social-04" title="Dribble" class="dribbble">Dribble</a></li>
      <li class="douban-link"><a href="http://www.douban.com/people/glowin" id="social-05" title="douban" class="douban">douban</a></li>
      <li class="rss-link"><a href="{{ root_url }}{{ site.subscribe_rss }}" id="social-06" title="RSS" class="rss">RSS Feeds</a></li>
    </ul>
  </div>
  <!-- end #socialIcons -->
</div>
<!-- end #pre-header -->

<header role="banner" id="header" class="clearfix">
    
    <!-- begin #logo -->
    <?php if ( !of_get_option('sc_clogo')== '') { ?>
    <hgroup id="logo-wrapper">
      <h1><a id="logo" href="{{ root_url }}/" rel="home">{{ site.title }}</a></h1>
        {% if site.subtitle %}<h2>{{ site.subtitle }}</h2>{% endif %}
    </hgroup>
    <!-- end #logo -->
  
    <!-- begin #topMenu -->
    <div id="navigation-wrapper" class="clearfix">
      <nav id="main-navigation" class="main-menu">
        <ul class="sf-menu">
          <li>
            <a href="{ root_url }}">首页</a>
            <a href="{ root_url }}">生活感言</a>
            <a href="{ root_url }}">WEB前端</a>
            <a href="{ root_url }}">关于</a>
            <a href="{ root_url }}">留言板</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- end #topMenu -->

</header> <!-- end header -->